<p-toast [baseZIndex]="10000"></p-toast>

<div class="fade row row-cols-auto justify-content-center">
  <div *ngFor="let character of dataCharacters" class="card shadow">
    <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
    <div class="card-body">
      <h5 class="card-title text-center">{{ character.name }}</h5>
      <div class="d-flex justify-content-between mb-3">
        <small class="text-start"
               [ngSwitch]="character.status">{{ character.species }}
          <p-tag *ngSwitchCase="'Alive'" severity="success" value="{{character.status}}"></p-tag>
          <p-tag *ngSwitchCase="'Dead'" severity="warning" value="{{character.status}}"></p-tag>
          <p-tag *ngSwitchDefault value="{{character.status}}"></p-tag>
        </small>
        <small class="text-end">{{ character.gender }}</small>
      </div>
      <p-divider></p-divider>
      <p class="card-text"><b>Origin:</b> {{ character.origin.name }}</p>
      <p class="card-text"><b>Location:</b> {{ character.location.name }}</p>
    </div>
  </div>
</div>

<div class="fadeIn d-flex justify-content-between mt-3">
  <div class="d-flex align-items-center">
    <div class="text-start">
      <label *ngIf="!isLoading">Page: {{ pagination }} / {{ dataInfo?.pages }}</label><br>
      <small *ngIf="!isLoading">Total: {{ dataInfo.count }}</small>
    </div>
    <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
    <label *ngIf="isLoading" class="mx-2">Loading</label>
  </div>
  <div class="buttons">
    <button [disabled]="!dataInfo?.prev || isLoading"
            pButton type="button"
            icon="pi pi-angle-left"
            class="px-3 me-3"
            (click)="getCharacters(dataInfo.prev, false)"></button>
    <button [disabled]="!dataInfo?.next  || isLoading"
            pButton type="button"
            icon="pi pi-angle-right"
            class="px-3 m-0"
            (click)="getCharacters(dataInfo.next, true)"></button>
  </div>
</div>
