<p-toast [baseZIndex]="10000"></p-toast>

<div class="fade row row-cols-auto justify-content-center">
  <div *ngFor="let location of dataLocations" class="card shadow">
    <div class="card-body">
      <h5 class="card-title text-center">{{location.name}}</h5>
      <p class="text-center">
        <p-tag value="{{location.type}}"></p-tag>
      </p>
      <p-divider></p-divider>
      <p class="card-text"><b>Dimension:</b> {{location.dimension}}</p>
    </div>
  </div>
</div>

<div class="fadeIn d-flex justify-content-between mt-3">
  <div class="d-flex align-items-center">
    <div class="text-start">
      <label *ngIf="!isLoading">Page: {{ pagination }} / {{ dataInfo?.pages }}</label><br>
      <small *ngIf="!isLoading">Total: {{ dataInfo.count }}</small>
    </div>
    <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
    <label *ngIf="isLoading" class="mx-2">Loading</label>
  </div>
  <div class="buttons">
    <button [disabled]="!dataInfo?.prev || isLoading"
            pButton type="button"
            icon="pi pi-angle-left"
            class="px-3 me-3"
            (click)="getLocations(dataInfo.prev, false)"></button>
    <button [disabled]="!dataInfo?.next  || isLoading"
            pButton type="button"
            icon="pi pi-angle-right"
            class="px-3 m-0"
            (click)="getLocations(dataInfo.next, true)"></button>
  </div>
</div>
