.bg-container {
  position: fixed !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  z-index: -1 !important;
  margin: 0 !important;
  font-size: 0 !important;
  padding: 0 !important;
  opacity: 0.3 !important;
}
