<p-dialog [(visible)]="display"
          [style]="{width: '85vw', height: '75vh'}"
          [baseZIndex]="10000"
          [draggable]="false"
          styleClass="p-fluid">
  <ng-template pTemplate="header">
    {{title}}
  </ng-template>
  <router-outlet></router-outlet>
</p-dialog>

<div class="dock-window">
  <p-dock [model]="dockItems" position="bottom">
    <ng-template pTemplate="item" let-item>
      <img class="p-2" [src]="item.icon" [alt]="item.label" width="80%">
    </ng-template>
  </p-dock>
</div>
