/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Shantell Sans', cursive;
    cursor: default;
}

.p-dock .p-dock-list {
    background: rgba(255, 255, 255, 0.8) !important;
}

p {
    margin: 0;
}

i {
    font-size: 1.5rem
}

.networks {
    color: #212529;
}

.card {
    width: 15rem;
    margin: 12px;
    padding: 0;
}

.fade {
    animation: fadeInAnimation 1s ease-in-out forwards;
    opacity: 0;
}

.fadeIn {
    animation: fadeInAnimation 3s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}