<div class="row row-cols-auto justify-content-between fixed-bottom bg-light p-2">
    <div class="networks">
        <a *ngFor="let socialNetwork of dataSocialNetworks" href="{{socialNetwork.url}}" target="_blank">
            <i class="pi {{socialNetwork.icon}} me-3 my-1 networks"></i>
        </a>
    </div>
    <div class="author">
        <a class="text-end m-0 text-dark" style="text-decoration: none" href="https://angelluce.github.io/cv/" target="_blank">
            <i class="pi pi-code m-1"></i> Angel Lucero | {{getCurrentYear()}}</a>
    </div>
</div>